<h1>{{ header }}</h1>
<div style="margin-left:20px;margin-top:20px">
  <h4>{{ category.name }}</h4>
  <hr />
  <p><a href="{{ category.url }}/delete">Delete category</a></p>
  <p><a href="{{ category.url }}/update">Update category</a></p>
</div>
