<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      {{> sidebar}}
    </div>
    <div class="col-sm-10">
      <h1>Welcome to Sivis Stockpiling and Shipment System</h1>
      <p>Number of magic items: {{numMagicItems}}</p>
      <p>Number of categories: {{numCategories}}</p>
      <p>Number of order instances: {{numOrderInstances}}</p>
      <p>Number of customers: {{numCustomers}}</p>
    </div>
  </div>
</div>
