<ul class="sidebar-nav">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/magic-items">All magic items</a>
  </li>
  <li>
    <a href="/categories">All categories</a>
  </li>
  <li>
    <a href="/customers">All customers</a>
  </li>
  <li>
    <a href="/order-instances">All order instances</a>
  </li>
  <hr />
  <li>
    <a href="/magic-item/create">Create new magic item</a>
  </li>
  <li>
    <a href="/category/create">Create new category</a>
  </li>
  <li>
    <a href="/customer/create">Create new customer</a>
  </li>
  <li>
    <a href="/order-instance/create">Create new order instance</a>
  </li>
</ul>
